
<div id="add_article">
  <%= link_to "Add article", new_article_path %>
</div>

<% @articles.each do |article| %>
  
  <div class="admin_article_box">
    <div class="article_title">
      <%= link_to article.title, article  %>
    </div>

    <div class="article_content">
      <%= formatted_text article.content.truncate(200, :separator => " ") %>
    </div>

    <div class="article_box_footer">

      <div class="article_comments_num">
        <%= article.comments.count %>&nbsp;comments
      </div>

      <div class="article_tags">
        Tags: <%= raw list_of_tags(article.tags) %>
      </div>
      
      <div class="article_published_at">
        Published at: <%= article.published_at %>
      </div>

    </div>

    <div class="article_actions">

      <%= button_to "edit", { :action => "edit", :id => article.to_param },
        :method => :get, :class => "article_action" %>

      <% if article.visible? %>
        <%= button_to "hide", { :action => "hide", :id => article.to_param },
          :method => :post, :class => "article_action" %>
      <% else %>
        <%= button_to "publish", { :action => "publish", :id => article.to_param },
          :method => :post, :class => "article_action" %>
      <% end %>

      <%= button_to "delete", { :action => "destroy", :id => article.to_param },
        :confirm => "Are you sure?", :method => :delete, :class => "article_action" %>

    </div>

  </div>

<% end %>
