
<% @articles.each do |article| %>
  
  <div class="article_box">
    <div class="article_title">
      <%= link_to article.title, article  %>
    </div>

    <div class="article_content">
      <%= article.content %>
    </div>

    <div class="article_box_footer">

      <div class="article_comments_num">
        <%= article.comments.count %>&nbsp;comments
      </div>

      <div class="article_tags">
        <%= raw list_of_tags(article.tags) %>
      </div>
      
      <div class="article_published_at">
        Published at: <%= article.published_at %>
      </div>

    </div>
  </div>

<% end %>
