
<% @articles.each do |article| %>
  
  <div class="article_box">
    <div class="article_published_at">
      <%= formatted_date article.published_at %>
    </div>

    <div class="article_title">
      <%= link_to article.title, article  %>
    </div>

    <div class="article_content">
      <%= formatted_text(article.content) %>
    </div>

    <div class="article_footer">

      <div class="comments">
        <%= article.comments.count %>&nbsp;comments
      </div>

      <div class="tags">
        Tags: <%= raw list_of_tags(article.tags) %>
      </div>

    </div>
  </div>

<% end %>
