
  <div class="article_box">

    <div class="article_title">
      <%= @article.title %>
    </div>

    <div class="article_content">
      <%= @article.content %>
    </div>

    <div class="article_box_footer">

      <div class="article_tags">
        Tags: <%= raw list_of_tags(@article.tags) %>
      </div>
      
      <div class="article_published_at">
        Published at: <%= @article.published_at %>
      </div>

    </div>

    <div id="article_comments">

      <% @article.comments.each do |comment| %>
        <div class="comment_box">
          <div class="comment_title">
            <%= user_info(comment) %>
            <%= comment.title %>
          </div>
          
          <div class="comment_content">
            <%= comment.content %>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>

